.img-div {
  /* border: solid 2px; */
  /* display: flex; */
  width: 100%;
  overflow: hidden;
  max-height: auto;
  max-height: 300px;
  padding: 3px 0 3px 0;
}
label {
  text-align: center;
  width: 100%;
  /* border: solid; */
}
.img-div .img {
  margin: auto;
  border-radius: 10px;
}
